@model IEnumerable<prjHouseWebAp.Models.會員>

@{
    ViewBag.Title = "會員管理";
}

<h2>會員管理</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.帳號)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.密碼)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.姓名)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.電話)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.角色)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.帳號)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.密碼)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.姓名)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.電話)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.角色)
        </td>
        <td>
            @Html.ActionLink("房屋資訊", "Details", new { userid = item.帳號 }, new { @class = "btn btn-success" })
            @Html.ActionLink("編輯", "Edit", new { userid = item.帳號 }, new {   @class="btn btn-info"}) 
            @Html.ActionLink("刪除", "Delete", new {  userid=item.帳號 }, new { @class = "btn btn-danger", onclick="return confirm('請問要刪除嗎？');" })
        </td>
    </tr>
}

</table>
